<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <div class="home">
        <div class="home-content">
            <div>
            <h1>Welcome to Wanderlust</h1>
        </div>
            <h2>Find Your Perfect Stay</h2>
            <h3>
                Discover beautiful places and
                unforgettable experiences.
            </h3>
            <form action="/listings">
               <div class="Explore">
                    <button class="explore-btn">Explore</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>