body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    line-height: 1.6;
    color: #222;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    flex: 1;
}

/*Navbar*/
.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

/*footer*/
.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info {
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}


/*Cards*/
.listing-card {
    border: none !important;
    margin: 2rem;

}
.listing-card img {
    height: 250px;
    object-fit: cover;
}

@media (max-width: 576px) {

    .listing-card img {
        height: 200px;
    }

}
.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text {
    font-weight: 400;
}

.listing-link {
    text-decoration: none;
}

/*Card Effect*/
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

/*new */
.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/*Edit page*/
.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/*show page*/
.show-img {
    height: 30vh;
}

.btns {
    display: flex;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

.show-card img {
    height: 400px;
    object-fit: cover;
    width: 100%;
}

#map {
    height: 400px;
    width: 100%;
    border-radius: 12px;
    margin-top: 10px;
}
@media (max-width: 576px) {

    #map {
        height: 300px;
    }

}
#filters {
    flex-wrap: wrap;
    align-items: center;
}

/* Desktop only flex */

@media (min-width: 768px) {

    #filters.show {
        display: flex;
        gap: 20px;
    }

}
.filter {
        display: inline-block;
        flex-wrap: wrap;
    align-items: center;
    min-width: 80px;
    text-decoration: none;
    /* underline remove */
    color: black;
    /* black color */
    font-size: 1.3rem;
    text-align: center;
    margin: 1rem;
    opacity: 0.7;

    transition: 0.3s;
}
/* Desktop only */

@media (min-width: 768px) {

    #filters {
        display: flex;
        gap: 20px;
    }

}
#filters::-webkit-scrollbar {
    display: none;
}
/* hover effect */
.filter:hover {
    color: black;
    /* stay black */
    transform: translateY(-4px);
    opacity: 1;
}

/* visited link bhi black rahe */
.filter:visited {
    color: black;
}

/* Mobile Filters Layout */

@media (max-width: 576px) {

    #filters {
        display: grid !important;

        grid-template-columns:
            repeat(3, 1fr);

        gap: 15px;

        justify-items: center;

        text-align: center;
    }

    .filter {
        margin: 0;
        font-size: 14px;
    }

    .filter i {
        font-size: 1.3rem;
    }

}

@media (max-width: 576px) {

    .tax-toggle {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

}

@media (min-width: 768px) {
    #filters {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
    }
}

.tax-toggle {
    margin-left: auto;
    margin-top: 1rem;
}